
h4{
    color: white;
    background-color: darkred;
    text-align: center;
}

h3{
    color: white;
    background-color: black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
}

h1 {
    background-color: darkred;
    color: white;
    text-align: center;
  }
 
.a{
     background-color: black;
    padding: 3px;
    margin-top: 1px;
 }

body{
    background-image:url("imgbak.jpg") ; 
 }




.c{
    color: black;
    display: block;
    background-color: cadetblue;
    margin-top: 25px;
    opacity: 0.8;
    border-radius: 10px;
    padding: 4px;
 }

.d{
    background-color: black;
    color: white;
    padding: 4px;
    opacity: 0.8;
}
